
<%- include("partials/header") -%> 

<h1> HOME</h1>

<p> <%= homeStartingContent  %> </p>

<% posts.forEach(post => { %>
    <h2><%= post.title %></h2>
    <p>
        <%=post.post.substring(0, 100) + " ..."%>
        <a href="/posts/<%=post.title%>">Read More</a>
    </p>
    
<%  }); %>
    
<a href="/compose" class="btn btn-info"> Add Blog Post</a>

<%- include("partials/footer") -%> 